<ion-tabs>

    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="tab1">

            <ion-icon name="trending-up"></ion-icon>
            <ion-label>Market</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="tab2">
            <ion-icon name="pulse"></ion-icon>
            <ion-label>Signal</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="alerts">
            <ion-icon name="alarm"></ion-icon>
            <ion-label>ALERTS</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="tab3">
            <ion-icon name="compass"></ion-icon>
            <ion-label>TRC20</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="trc10">
            <ion-icon name="compass"></ion-icon>
            <ion-label>TRC10</ion-label>
        </ion-tab-button>
    </ion-tab-bar>

</ion-tabs>